<script setup>
import { reset } from '@formkit/core'
const config = useRuntimeConfig();

const serverError = ref(false)
const isSuccess = ref(false)
const submitRegistrationForm = async (formData) => {
  // console.log(formData)
  debugger
  formData.roles=['user']
  await $fetch(`${config.public.apiBase}/api/auth/signup`, {
    //method
    method: 'POST',
    //data
    body: formData
    })
    .then(() => {
      isSuccess.value = true
      serverError.value = false
      reset('registrationForm')

    })
    .catch((error) => {
      isSuccess.value = false
      serverError.value = true
    });
};
</script>

<template>
  <div class="my-32 w-96 mx-auto">
    <h1 class="text-center text-2xl font-bold mb-5">Create an Account</h1>
    <FormKit
      type="form"
      @submit="submitRegistrationForm"
      submit-label="Register"
      id="registrationForm"
    >
      <FormKit
        type="text"
        label="Name"
        name="username"
        validation="required"
        placeholder="Enter your name..."
      />

      <FormKit
        type="text"
        label="Email"
        name="email"
        validation="required|email"
        placeholder="Enter your email..."
      />

      <FormKit
        type="password"
        label="Password"
        name="password"
        validation="required"
        placeholder="Enter your password..."
      />
      <FormKit
        type="password"
        name="re_password"
        label="Confirm Password"
        validation="required|confirm:password|required"
        placeholder="Re-enter your password..."
        validation-visibility="live"
        validation-label="Confirm Password"
      />
    </FormKit>
    <i class="text-gray-700 text-sm">
      Already have an Account ?
      <NuxtLink to="/account/login" class="text-blue-500 hover:text-blue-700"
        >Login</NuxtLink
      >
    </i>
    <div v-if="serverError">
      <p class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded relative ">Unable to Register</p>      
    </div>
    <div v-if="isSuccess" class="mt-2">
      <p class="bg-green-100 border border-green-400 text-green-700 px-4 py-2 rounded relative ">You have registered successfully !</p>
    </div>
  </div>
</template>

