<script setup>
//init config
const config = useRuntimeConfig();
const columns = [{
  key: 'id',
  label: 'ID'
}, {
  key: 'image',
  label: 'Image'
}, {
  key: 'title',
  label: 'Title'
}, {
  key: 'description',
  label: 'Description'
}, {
  key: 'price',
  label: 'Price'
}, {
  key: 'qty',
  label: 'Tickets'
}, {
  key: 'available',
  label: 'Available'  
}, {
    key: 'actions'
}]
//fetch data from API with "useAsyncData"
const { data: concerts }  = await useAsyncData('concerts', () => $fetch(`${config.public.apiBase}/api/concerts`))
//method deletePost
const deleteConcert = async (id) => {
  //delete data with API
  await $fetch(`${config.public.apiBase}/api/concerts/${id}`, {
      //method
      method: 'DELETE'
  });

  //refersh data posts
  refreshNuxtData('concerts');
}
</script>

<template>
  <div class="row">
    <div class="col-md-12 p-2.5">
        <UButton to="/concert/create">Add New Concert</UButton>
        <UTable :columns="columns" :rows="concerts.data" >
            <template #image-data="{ row }">
              <img class="w-20 h-auto" :src="config.public.apiBase+'/images/'+ row.image"/>
            </template>
            <template #actions-data="{ row }">
                <UButton :to="`/concert/edit/${row.id}`" color="gray" variant="ghost" icon="i-heroicons-pencil-20-solid" />
                <UButton @click="deleteConcert(row.id)" color="gray" variant="ghost" icon="i-heroicons-trash-20-solid" />
            </template>
        </UTable>   
        <!-- <NuxtLink to="/concert/create" class="btn btn-md btn-success rounded shadow border-0 mb-3">ADD NEW CONCERT</NuxtLink>
        <UButton>Button</UButton>
        <div class="card border-0 rounded shadow">
            <div class="card-body">
                <table class="table table-bordered w-full">
                    <thead class="bg-gray-800 text-white">
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Ticket</th>
                            <th scope="col">Available</th>
                            <th scope="col" style="width:15%">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(concert, index) in concerts.data" :key="index">
                            <td class="text-center justify-center">
                                <img :src="'resource/uploads/'+concert.image" width="200" class="rounded-3"/>
                            </td>
                            <td>{{ concert.title }}</td>
                            <td>{{ concert.description }}</td>
                            <td class="text-center">{{ concert.qty }}</td>
                            <td class="text-center">{{ concert.available }}</td>
                            <td class="text-center">
                                <NuxtLink :to="`/concerts/edit/${concert.id}`" class="btn btn-sm btn-primary rounded-sm shadow border-0 me-2">EDIT</NuxtLink>
                                <button @click="deletePost(concert.id)" class="btn btn-sm btn-danger rounded-sm shadow border-0">DELETE</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div> -->
    </div>
        </div>
</template>

<style lang="css" scoped></style>
