<script setup>
//init config
const config = useRuntimeConfig();

//fetch data from API with "useAsyncData"
const { data: concerts }  = await useAsyncData('concerts', () => $fetch(`${config.public.apiBase}/api/concerts/available`))

//user timer to update Available Ticket
const myTimer = setInterval(async function () {
    refreshNuxtData('concerts');
}, 5000)

</script>

<template>
  <div class="row">
    <div class="col-md-12 p-2.5">
        <!-- {{ concerts }} -->
        <div class="flex flex-wrap justify-center">
            <div class="bg-gray-100 p-5 mt-4 mx-2" :key="index" v-for="(row,index) in concerts.data">
                <img style="width:300px;height:200px;" :src="config.public.apiBase+'/images/'+ row.image"/>
                <div class="font-bold text-xl">{{ row.title }}</div>
                <div class="flex justify-end mt-3"><div>USD {{ row.price }}</div>
                </div>
                <div class="flex justify-between mt-1"><div>{{ row.available }} tickets</div>
                <UButton :to="'ticket/buy/'+row.id">BUY NOW</UButton></div>
            </div>
        </div>  
    </div>
    </div>
</template>

<style lang="css" scoped></style>
