<script setup>
    // const router = useRouter();

    const config = useRuntimeConfig();
    const route = useRoute();
    const router = useRouter();

    // const { data: concert }  = await useAsyncData('concert', () => $fetch(`${config.public.apiBase}/api/concerts/${route.params.id}`))
    const { data: concert } = await useFetch(`${config.public.apiBase}/api/concerts/${route.params.id}`);
    

    //define state
    const image     = ref('');
    const title     = ref(concert.value.data.title);
    const description   = ref(concert.value.data.description);
    const price = ref(concert.value.data.price);
    const qty = ref(concert.value.data.qty);
    const available = ref(concert.value.data.available);
    
    const errors   = ref({});

    const handleFileChange = ( e ) => {
        //assign file to state 
        image.value = e.target.files[0]
    }

    const updateConcert = async () => {
        debugger
        //init formData
        let formData = new FormData();
        //assign state value to formData
        formData.append('image', image.value);
        formData.append('title', title.value);
        formData.append('description', description.value);
        formData.append('price', price.value);
        formData.append('qty', qty.value);
        formData.append('available', available.value);

        //store data with API
        await $fetch(`${config.public.apiBase}/api/concerts/${route.params.id}`, {

            //method
            method: 'POST',

            //data
            body: formData
        })
        .then(() => {
            //redirect
            router.push({ path: "/concert" });
        })
        .catch((error) => {

            //assign response error data to state "errors"
            errors.value = error.data
        });
    }

</script>
<template>
    <div class="row">
        <div class="mt-10 w-96 mx-auto gap-y-3 flex flex-col">
            <div class="text-lg font-bold">Edit Concert</div>
            <UFormGroup label="Image" name="image"><UInput size="md" type="file" v-model="image" placeholder="image" @change="handleFileChange($event)" /></UFormGroup>
            <UFormGroup label="Title" name="title"><UInput size="md" v-model="title" placeholder="title" /></UFormGroup>
            <UFormGroup label="Description" name="description"><UInput size="md" v-model="description" placeholder="description" /></UFormGroup>
            <UFormGroup label="Price" name="price"><UInput type="number" size="md" v-model.number="price" placeholder="Price" /></UFormGroup>
            <UFormGroup label="Ticket" name="ticket"><UInput type="number" size="md" v-model.number="qty" placeholder="Ticket" /></UFormGroup>
            <UFormGroup label="Available" name="available"><UInput type="number" size="md" v-model.number="available" placeholder="available" /></UFormGroup>
            <UButton class="my-2" @click="updateConcert()" size="md">Save</UButton>
        </div>
    </div>  
</template>