<script setup>
//init config
const config = useRuntimeConfig();
import { useUserStore } from "@/stores/user";
const userStore = useUserStore();

//fetch data from API with "useAsyncData"
const { data: orders }  = await useAsyncData('orders', () => $fetch(`${config.public.apiBase}/api/orders`, {headers: {'x-access-token': userStore.user.token}}))
// columns of table
const columns = [{
  key: 'image',
  label: 'Ticket'
}, {
  key: 'createdAt',
  label: 'Order Date'
}, {
  key: 'title',
  label: 'Title'
}, {
  key: 'description',
  label: 'Description'
}, {
  key: 'price',
  label: 'Price'
}, {
  key: 'qty',
  label: 'Qty'
}]
</script>

<template>
  <div class="row">
    <div class="col-md-12 p-2.5">
        <UTable :columns="columns" :rows="orders.data" >
            <template #title-data="{ row }">
                {{ row.concert.title }}
            </template>
            <template #description-data="{ row }">
                {{ row.concert.description }}
            </template>
            <template #price-data="{ row }">
                {{ row.concert.price }}
            </template>
            <template #image-data="{ row }">
              <img class="w-20 h-auto" :src="config.public.apiBase+'/images/'+ row.concert.image"/>
            </template>
        </UTable>
    </div>
    </div>
</template>

<style lang="css" scoped></style>
