<script setup>
    // const router = useRouter();
    import { useUserStore } from "@/stores/user";
    const userStore = useUserStore();

    const toast = useToast()
    const config = useRuntimeConfig();
    const route = useRoute();
    const router = useRouter();
    const errMsg = ref('');
    const serverError = ref(false);


    const qty = ref(1);
    // qty.value = 1;
    // const router = useRouter();

    // const { data: concert }  = await useAsyncData('concert', () => $fetch(`${config.public.apiBase}/api/concerts/${route.params.id}`))
    const { data: concert } = await useFetch(`${config.public.apiBase}/api/concerts/${route.params.id}`);
    
    //method deletePost
    const orderConcert =  async () => {
        let formData = {}
        serverError.value = false;

        //assign state value to formData'
        debugger
        formData.qty = qty.value;
        formData.concert_id = concert.value.data.id;
        formData.user_id = userStore.user.id;
        // formData.description = description.value;
        debugger
        //Create Order
        await $fetch(`${config.public.apiBase}/api/orders`, {
        //method
        method: 'POST',
        //data
        body: formData,
        headers: {'x-access-token': userStore.user.token}
        })
        .then((res) => {
        //redirect
        toast.add({ title: res.message });
        router.push({ path: "/ticket" });
        })
        .catch((error) => {

        //assign response error data to state "errors"
        errMsg.value = error.data.message;
        serverError.value = true;
        });

        //refersh data posts
        // refreshNuxtData('concerts');
    }
</script>
<template>
    <div class="p-5 text-center space-y-2">
        <img style="width:300px;height:200px;" :src="config.public.apiBase+'/images/'+ concert.data.image" class="mx-auto"/>
        <div class="font-bold text-xl">{{ concert.data.title }}</div>
        <div>USD {{ concert.data.price }}</div>
        <div>{{ concert.data.available }} tickets</div>
        <div class="flex space-x-4 justify-center"><div>Quantity</div><UInput type="number" v-model.number="qty"></UInput></div>
        <UButton @click="orderConcert()">BUY NOW</UButton>
        <div v-if="serverError">
            <p class="bg-red-100 border border-red-400 text-red-700 px-4 py-2 rounded relative max-w-md mx-auto ">{{errMsg}}</p>      
        </div>
    </div>
   
    <!-- <div v-if="isSuccess" class="mt-2">
      <p class="bg-green-100 border border-green-400 text-green-700 px-4 py-2 rounded relative ">You have Order successfully !</p>
    </div> -->
</template>